/* Estilos para el contenedor principal del formulario */
.container {
    width: 100%;
    padding: 16px;
    background-color: white;
}

/* Estilos para los campos de entrada del formulario */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Estilos para el botón de envío del formulario */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

/* Estilos para el botón de cancelación */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Estilos para el enlace de "Olvidó su contraseña?" */
.psw {
    float: right;
    padding-top: 16px;
}